extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement

//- INTRO
block intro

	//- HERO
	if !meetup
		h2.text-center You've just deployed a new site! Go add some data :)
	else
		article#hero.hero-meetup.hero-meetup--next
			
			//- Intro
			section.hero-intro.hero-intro--hasmask
				.hero-background
					//-img(src='/images/placeholders/sydney-1.jpg')
				.hero-intro-content
					h5.subtitle COMMUNITY SITE
					h1.title CHRONAS
					p.byline: strong a chronological and cartographical history application
					p.byline Beta released in Oct 2015, Chronas is made up of #{community.length} registered members, including #{moderatorLength} potential moderators
				if meetup.state === 'active'
					#react-hero-button
			//- Details
			section.hero-details: .container
				section.attending
					#react-attending

//- BODY
block content
	.page-content
		
		//- About
		article.section.section--featured.home-about: .container
			if !user
				h2 Are you into history? Become a part of Chronas!
				.row: .col-sm-10.col-sm-offset-1
					p.lead On this site we discuss features, bugs and the future of the history application.
					.row: .col-sm-4.col-sm-offset-4
						a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
							span.text-caps Join Chronas
			if user
				h2 Thank you for being a part of Chronas
				.row: .col-sm-10.col-sm-offset-1
					p.lead <a href="/talk" target="_blank">Lets get involved!</a>

			p.mt-1
				a(href='/about') Learn more about Chronas
				|  &nbsp;&middot;&nbsp; 
				a(href='/members') Browse our members
			p.mt-1: a(href="https://twitter.com/chronasorg", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @chronasorg
//- JS
block js
	script.
		var Chronas = {};
		Chronas.meetup = !{JSON.stringify(meetup)};
		Chronas.currentMeetupId = !{JSON.stringify(meetup.id)};
	if user
		script.
			Chronas.user = !{JSON.stringify(user)};

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
