extends ../../layouts/default

block content
    .container-sm
        a(href='/talk').text-muted &larr; Back to TALK
        article.full-post
            if !thread
                h2 Invalid Post.
            else
                header
                    if thread.state != 'published' && user.isAdmin
                        .mt-1: .alert.alert-danger This Post has not been published yet. 
                            a(href='/keystone/posts/' + thread.id).alert-link Open Keystone
                            |  to publish it.

                    .midcol.unvoted(style="padding-top: 0px !important;")
                        form(method='post')
                            input(type='hidden', name='action', value='upvote-thread')
                            input(type='hidden', name='tid', value=''+thread._id)
                            .arrow.up.login-required(type='submit', name='action', onClick="this.parentNode.submit();", value='upvote-thread')
                        .score.unvoted=thread.rating
                        form(method='post')
                            input(type='hidden', name='action', value='downvote-thread')
                            input(type='hidden', name='tid', value=''+thread._id)
                            .arrow.down.login-required(onclick=" this.parentNode.submit();", name='action', value='downvote-thread')
                    h1.blog-post__title= thread.title
                    p.blog-post__byline Posted
                        if thread.author
                            |  by&nbsp;
                            a(href='/member/'+thread.author.name.full.replace(/ /g,"-").toLowerCase(), rel='author')=thread.author.name.full
                        if thread.publishedDate
                            |  on #{thread._.publishedDate.format('MMMM D, YYYY')}
                        if thread.categories && thread.categories.length
                            |  in&nbsp;
                            each cat, cat_i in thread.categories
                                a(href='/talk/' + cat.key)= cat.name
                                if cat_i < thread.categories.length - 1
                                    | ,&nbsp;
                                else
                                    |&nbsp;
                    
                    //- sharing buttons
                    .share-buttons
                        span.share-button
                            .fb-like(data-href="http://community.chronas.org/talk/thread/" + thread.slug, data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
                        span.share-button
                            a(href="https://twitter.com/share", data-via="Chronas", data-hashtags="chronas",
                            data-count="button", data-dnt="true").twitter-share-button Tweet
                        span.share-button
                            .g-plusone(data-size="medium")
                if thread.image.exists
                    .post-image.mv-3: img(src=thread._.image.fit(720,420)).img-responsive.img-thumbnail
                != thread.content.full

                Comment
                    .comments
                        h4.mb-1=thread.comments.length == 0 ? 'Be the first to reply' : plural(thread.comments.length, '* comment', '* comments')
                        for comment in thread.comments
                            if comment.author
                                .comment.media
                                    .midcolIC.unvoted
                                        form(method='post')
                                            input(type='hidden', name='action', value='upvote-comment')         
                                            input(type='hidden', name='cid', value=''+comment._id)                                      
                                            .arrowIC.up.login-required(type='submit', name='action', onClick="this.parentNode.submit();", value='upvote-comment')
                                        .score.unvoted=comment.rating
                                        form(method='post')
                                            input(type='hidden', name='action', value='downvote-comment')
                                            input(type='hidden', name='cid', value=''+comment._id)
                                            .arrowIC.down.login-required(onclick=" this.parentNode.submit();", name='action', value='downvote-comment')
                                    .pull-left
                                        a(href='/member/'+comment.author.name.full.replace(/ /g,"-").toLowerCase())                                            
                                            img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=comment.author.name.full, width=40, height=40).media-object.img-circle
                                    .media-body
                                        h6.mt-0
                                            a(href='/member/'+comment.author.name.full.replace(/ /g,"-").toLowerCase())
                                                =comment.author.name.full
                                            span.text-muted  &middot; #{moment(comment.publishedOn).fromNow()}
                                        !=comment.content.html
                    if user
                        //- Reply form
                        form(method='post').comment-form.mt-5
                            input(type='hidden', name='action', value='create-comment')
                            .media
                                .pull-left
                                    img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
                                .media-body
                                    textarea(placeholder='Add your comment...', name='content').form-control
                                    .mv-1
                                        button(type='submit').btn.btn-success Submit
block js
    script(src='/js/common/share.js')
    script(src="https://apis.google.com/js/plusone.js")
